* {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;

}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background-color: #001220;
  overflow-x: hidden;
  z-index: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.blue {
  background: #3c31dd;
  padding: 10%;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #de649f;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 12%;
}

.dark {
  background: #001220;
  margin: 0;
  padding-top: 12%;
  width: 100%;
  right: 0;
  left: 0;
}

.dark2 {
  background: #001220;
  padding: 0;
  margin: 0;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./svg/layer1.svg");
  display: fixed;
  width: 100%;
}

.layer2 {
  background-image: url("./svg/layer2.svg");
  margin-top: 200px;
  width: 100%;
}

.layer3 {
  background-image: url("./svg/layer3.svg");
  width: 100%;
}

.layer4 {
  background-image: url("./svg/layer4.svg");
  width: 100%;
}

.blob-motion {
  position: absolute;
  align-items: right;
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url("./svg/blob1.svg") no-repeat / cover;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.panels {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
}

#a {
  position: fixed;
  top: 0;
  z-index: -99;
}

#b {
  margin-top: 100%;
}

a {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #de649f;
}

.bottom-container {
  padding: 50px 0 20px;
  margin-top: 20px;
  z-index: 6;
  position: relative;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}

.footer-link {
  font-size: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 60px;
}

.code-img {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.profile-img {
  width: 400px;
}