* {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background-color: #001220;
  overflow-x: hidden;
  z-index: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.blue {
  background: #3c31dd;
  padding: 10%;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #de649f;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 12%;
}

.dark {
  background: #001220;
  margin: 0;
  padding-top: 12%;
  width: 100%;
  right: 0;
  left: 0;
}

.dark2 {
  background: #001220;
  padding: 0;
  padding-bottom: 12%;
  margin: 0;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./svg/layer1.svg");
  display: fixed;
}

.layer2 {
  background-image: url("./svg/layer2.svg");
  margin-top: 200px;
}

.layer3 {
  background-image: url("./svg/layer3.svg");
}

.layer4 {
  background-image: url("./svg/layer4.svg");
}

.blob-motion {
  position: absolute;
  align-items: right;
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url("./svg/blob1.svg") no-repeat / cover;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.panels {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
}

#a {
  position: fixed;
  top: 0;
  z-index: -99;
}

#b {
  margin-top: 100%;
}