* {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 3rem;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;

}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background-color: #001220;
  overflow-x: hidden;
  z-index: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.blue {
  background: #3c31dd;
  padding: 10%;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #de649f;
  display: flex;
  margin: 0;
  padding: 0;
}

.dark {
  display: flex;
  background: #001220;
  margin: 0;
  width: 100%;
  right: 0;
  left: 0;
}

.dark2 {
  background: #001220;
  padding: 0;
  margin: 0;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./svg/layer1.svg");
  display: fixed;
  width: 100%;
}

.layer2 {
  background-image: url("./svg/layer2.svg");
  width: 100%;
}

.layer3 {
  background-image: url("./svg/layer3.svg");
  width: 100%;
}

.layer4 {
  background-image: url("./svg/layer4.svg");
  width: 100%;
}

.blob-motion {
  position: absolute;
  align-items: right;
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url("./svg/blob1.svg") no-repeat / cover;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.panels {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
}

#a {
  top: 0;
  z-index: -99;
}

#b {
  margin-top: 100%;
}

a {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #de649f;
}

.bottom-container {
  z-index: 6;
  position: relative;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}

.footer-link {
  font-size: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 60px;
}

.code-img {
  width: 200px;
  float: left;
}

.profile-img {
  width: 600px;
  float: left;
  margin-bottom: 50px;
  margin: 0 auto;
  padding-left: 200px;
}

 .about {
   width: 100%;
   padding-bottom: 0;
  font-size: 1.8rem;
}

.text {
  max-width: 80%;
  margin: 200px 100px 100px 600px;
}





@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { 
  max-width:40%; 
  margin:50px auto; 
  margin-bottom: 100px;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }


@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
  width: 60%;
  padding-top: 100px;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 34rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
